nav.navigation
  ul.navigation__list
    li.navigation__list__item
      a.navigation__list__link(href="/") Home

    li.navigation__list__item
      a.navigation__list__link(href="/about") About

  button.navigation__link
    a.navigation__list__link(href="mailto:info@joannaherman.com" target="_blank") Contact