.preloader
  h1.preloader__text
    span.preloader__text__serif
      | A poem a day #[br]
      | Let‘s play! 
    span.preloader__text__sans
      
  .preloader__number
    .preloader__number__text 0%