doctype html
html(lang="en" style="background: #fff;")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    base(href="/")

    title Joanna Creative Starter

    meta(name="description" content="description")
    link(rel="stylesheet" href="main.css")

  body
    include ./views/partials/preloader
    include ./views/partials/navigation

    include ./views/pages/home
    include ./views/pages/about

    script(src="main.js")
        