doctype html
html(lang="en" style="background: #fff;")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    base(href="/")

    title Poems

    meta(name="description" content="description")
    
    //- link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    //- link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    //- link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    //- link(rel="manifest" href="/site.webmanifest")
    //- link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#fbf7ec")
    meta(name="msapplication-TileColor" content="#fbf7ec")
    meta(name="theme-color" content="#fbf7ec")

    meta(property="og:type" content="website")
    meta(property="og:title" content="Poems")
    meta(property="og:description" content="Poem picker")
    meta(property="og:image" content='')

  body
    include ./views/partials/preloader
    include ./views/partials/navigation

    include ./views/pages/home
    include ./views/pages/about
    include ./views/pages/poem

        