.detail {
    @extend %cover;
    @extend %center;

    background: $color-quicksand;
    color: $color-white;
    display: flex;

}
.detail__wrapper {
    align-items: center;
    display: flex;
}

.detail__media {
    // based on design file
    width: 55.4rem;
    height: 78.2rem;
    position: relative;
}

.detail__media__image {
    @extend %cover;
    // make the image fit no matter what img user uploads to CMS
    object-fit: cover;
}

.detail__information {
    padding-left: 8.2rem;
}

.detail__information__collection {
    @extend %description-12;
    text-transform: uppercase;
    margin-bottom: 4rem;

}


.detail__information__title {
    @extend %title-120;

    max-width:60rem;
 
}

.detail__information__content {
    padding-left: 18rem;
}
.detail__information__highlights {
    @extend %description-16;
    margin-top: 5rem;

}

.detail__information__highlight {
    align-items: center;
    display: flex;

    &:not(:first-child) {
        margin-top: 4rem;
      }

}

.detail__information__highlight__icon {
   height: 4rem;
   width: 4rem;
   margin-right: 3.75rem;
}



.detail__information__highlight__text{
    @extend %description-16;
}

.detail__information__list {
    margin-top: 4rem;

}

.detail__information__item {
    display: flex;

    &:not(:first-child) {
        margin-top: 4rem;
    }


}

.detail__information__item__title {
    @extend %description-12;

    padding-right: 2.5rem;
    width: 10rem;
}

.detail__information__item__description {
    max-width: 44rem;
}


.detail__information__link {
    @extend %title-30;

    display: inline-block;
    margin-top: 3rem;
}

.detail__button {
    @extend %description-14;
  
    width: 12.4rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    bottom: 5rem;
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;
  
    @include media('<phone') {
      width: 26.8rem;
      height: 26.8rem;
      bottom: 0;
    }
  }
  
.detail__button__icon {
    @extend %cover;
  }