.about {
    @extend %page;

    background: $color-cadet-blue;
    color: $color-bright-gray;
    opacity: 0;
}

.about__wrapper {
}

.about__title {
    @extend %title-100;

    text-align: center;
    margin: 0 auto;
    max-width: 124.4rem;
}