.about__highlight {
    margin: 20rem auto;
    // auto instead of 0 becuase we want to have it center aligned
    // position: relative;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

}

.about__highlight__wrapper {
    // the problem is that the title won't fit the height so if the height of 
    // both highlight elements matches we can use a fixed height as a base and position images as absolute
    height: 104rem;
    width: 144rem;
    margin: auto;
    position: relative;

    // .about__highlight:nth-child(4) & {
    //     height: 119.3rem;
    //     width: 100%;
    //   }
}

.about__highlight__label {
    @extend %description-12;
    
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 9rem;
    transform: translateX(-50%);
    text-align: center;
    letter-spacing: 0.1rem;
    width: 9.6rem;
}

.about__highlight__title {
    @extend %title-200;

    // this is a tweak because it wasn't visually aligned with the label
    padding-bottom: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.about__highlight__media {
    position: absolute;
    height: 76rem;
    width: 54rem;

    .about__highlight:nth-child(4) & {
        width: 36rem;
        height: 52.8rem;
    }
    

    &:first-child {
        left: 0;
        top: 0;
    }

    &:last-child {
        right: 0;
        bottom: 0;
    }
}

.about__highlight__media__image {
    @extend %cover;

    object-fit: cover;
}