%page {
    @extend %cover;
    /* prevent flashing in page transitions with our animations  for seamless transition between pages*/
    opacity: 0;
    visibility: hidden;

}

%page-wrapper {
    color: inherit;
}