%title-53 {
    font-family: $font-sprat;
    font-size: 5.3rem;
    line-height: 1;
}

%title-lg-serif {
    font-family: $font-sprat;
    font-size: 11rem;
    line-height: 1;
}

%title-lg-sans {
    font-family: $font-neue-haas-grotesk-regular;
    font-size: 11rem;
    line-height: 1;
}