.navigation {
    @extend %cover;

    color: $color-white;
    z-index: z('navigation');
    position: fixed;
    pointer-events: none;

}

.navigation__link {
    // because we have a logo but also want to include the title?
    font-size: 0;
    // this is for the logo
    height: 2rem;
    left: 4rem;
    position: absolute;
    top: 4rem;
    width: 12.8rem;
    pointer-events: auto;

    transition: opacity 0.4s ease;

    &:hover {
        opacity: 0.5;
    }

}

.navigation__link__icon {
    display: block;
}

.navigation__list {

}
.navigation__list__item {
    // because they will always live in the same right position
    position: absolute;
    right: 4rem;
    top: 4rem;
    pointer-events: auto;
}

.navigation__list__link {
    @extend %link--hidden;
    display: block;
    line-height: 1;
} 