.navigation {
    // usually he prefers to have nav covering everything bcs sometimes in mobile menus we have overlays 
    @extend %cover;

    color: $color-white;
    z-index: z('navigation')
}

.navigation__link {
    font-size: 0; // because we have a logo but also want to include the title?
    // this is for the logo
    height: 2rem;
    left: 4rem;
    position: absolute;
    top: 4rem;
    width: 12.8rem;
}

.navigation__link__icon {
    display: block;
}

.navigation__list {

}
.navigation__list__item {
    // because they will always live in the same right position
    position: absolute;
    right: 4rem;
    top: 4rem;


}

.navigation__list__link {
    @extend %title-20;
    display: block;
} 