$color-white: #FCFFF9;
$color-black: #333;
$color-green: #82A044;
$color-golden: #D0B961;


$font-neue-haas-grotesk-regular: 'Neue Haas Grotesk Regular', sans-serif;
$font-sprat: 'Sprat';
$font-suisse-bp: 'Suisse BP';

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'preloader',
  'navigation',
  'content',
  'canvas',
);