// this is an important reset - if we don't set that is that we include padding it's going to be summed with that
*,
*::before,
*::after
{
    box-sizing: border-box;
}


html {
    // so that things have the same size and shape as designs:
    // based on the viewport we devide viewport width by the design size 
    // postCSS when minified will resolve to proper numbers
    font-size: calc(100vw / 1920 * 10);
    line-height: 1;
}


body {
    font-family: $font-suisse-bp;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

img {
    // this way the links are not having a small gap between the image?
    vertical-align: middle;
}

button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
    outline: none;
  }