@font-face {
    font-family: $font-sprat;
    src: url('../fonts/Sprat-CondensedThin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    }
  
@font-face {
    font-family: $font-neue-haas-grotesk-regular sans-serif;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: $font-neue-haas-grotesk-regular sans-serif;
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: $font-neue-haas-grotesk-regular, sans-serif;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: $font-neue-haas-grotesk-regular, sans-serif;
    font-weight: 600;
    font-style: italic;
}