.collections {
    @extend %cover;

    background: $color-quicksand;
    color: $color-quarter-spanish-white;
}

.collections__wrapper {
    @extend %cover;
    overflow: hidden;
  }

.collections__titles {
    align-items:center;
    display: flex;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-90deg);
    top: 50%;
}

.collections__titles__label {
    @extend %description-12;

    text-transform: uppercase;
    text-align: center;
    transform: rotate(90deg);
}

.collections__titles__title {
    @extend %title-200;

    padding-top: 2rem;
}

.collections__gallery {
    @extend %cover;
    // it will be implemented in JS but we can have CSS fallbacks 
}

.collections__gallery__wrapper {
    // it will be implemented in JS but we can have CSS fallbacks 
    align-items: center;
    display: flex;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}

.collections__gallery__link {
    // this will come from webgl
    display: block;
    margin: 0 5.3rem;
}

.collections__gallery__media {
    width: 44.7rem;
    height: 63.1rem;
    position: relative;
}

.collections__gallery__media__image {
    @extend %cover;
    
    object-fit: cover;
}

.collections__content {
    @extend %cover;
}

.collections__article {
    position: absolute;
    left: 8rem;
    bottom: 8rem;
   
   
    
}

.collections__article__title {
    @extend %title-60;
}

.collections__article__description {
    @extend %description-16;
    max-width: 44rem
} 