mixin template(id, title)
  li.home__item(class=`home__item--${id}`)
    a.home__grid__link(href=`/poem/${id}`)
      span.home__grid__link__text=title
      


section.home(data-background="#FCFFF9" data-color="#82A044")
    .home__wrapper
        .home__content
            .home__hero__title
                h1.home__hero__title__serif(data-animation="title")
                    | And then my heart #[br]
                    | with pleasure fills,
                h1.home__hero__title__sans(data-animation="title") 
                    | And dances with the dafodils.*

            .home__mood
                h2.home__mood__label(data-animation="label") Choose your mood:

            figure
                img(data-src="/poem/spring/1.jpg")

        //- section.home__grid__wrapper
        //-     ul.home__grid
        //-         +template('spring', 'Spring')
        //-         +template('clouds', 'Clouds')
        //-         +template('spring', 'Spring')
        //-         +template('clouds', 'Clouds')
        //-         +template('spring', 'Spring')
        //-         +template('clouds', 'Clouds')
        //-         +template('spring', 'Spring')
        //-         +template('clouds', 'Clouds')
        //-         +template('spring', 'Spring')

        p.home__footnote
            | *From “I wandered lonely as cloud” by William Wandsworth
