mixin template(id, title)
  li.home__item(class=`home__item--${id}`)
    a.home__grid__link(href=`/poem/${id}`)
      span.home__grid__link__text=title
      


section.home(data-background="#FCFFF9" data-color="#82A044")
    .home__wrapper
        .home__content
            .home__hero__title
                h1.home__hero__title__serif(data-animation="title")
                    | And then my heart #[br]
                    | with pleasure fills,
                h1.home__hero__title__sans(data-animation="title") 
                    | And dances with the dafodils.*

            .home__mood
                h2.home__content__label(data-animation="label") Choose your mood:

        section.home__grid__wrapper
            ul.home__grid
                +template('spring', 'Spring')
                +template('cloud', 'Cloud')
                +template('spring', 'Spring')
                +template('cloud', 'Cloud')
                +template('spring', 'Spring')
                +template('cloud', 'Cloud')
                +template('spring', 'Spring')
                +template('cloud', 'Cloud')
                +template('spring', 'Spring')

        p.home__footnote
            | *From “I wandered lonely as cloud” by William Wandsworth


            //- a.home__link(href="/about")="I have chosen!"
            //-         svg.home__link__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 60")
            //-             path(stroke="currentColor" fill="none" d="M456.5,98.5c-19.41,0-38.24.79-56,2.35a398.43,398.43,0,0,0-45.66,6.42c-6.49,1.35-12.37,2.83-17.49,4.41a91.29,91.29,0,0,0-13.13,5,30.12,30.12,0,0,0-8.12,5.43c-1.75,1.79-2.64,3.59-2.64,5.35s.89,3.56,2.64,5.35a30.12,30.12,0,0,0,8.12,5.43,91.29,91.29,0,0,0,13.13,5c5.12,1.58,11,3.06,17.49,4.41a398.43,398.43,0,0,0,45.66,6.42c17.72,1.56,36.55,2.35,56,2.35s38.24-.79,56-2.35a398.43,398.43,0,0,0,45.66-6.42c6.49-1.35,12.37-2.83,17.49-4.41a91.29,91.29,0,0,0,13.13-5,30.12,30.12,0,0,0,8.12-5.43c1.75-1.79,2.64-3.59,2.64-5.35s-.89-3.56-2.64-5.35a30.12,30.12,0,0,0-8.12-5.43,91.29,91.29,0,0,0-13.13-5c-5.12-1.58-11-3.06-17.49-4.41a398.43,398.43,0,0,0-45.66-6.42c-17.72-1.56-36.55-2.35-56-2.35m0-1c79.53,0,144,13.43,144,30s-64.47,30-144,30-144-13.43-144-30S377,97.5,456.5,97.5Z" transform="translate(-312.5 -97.5)")
            //-             path.home__link__icon__path(stroke=currentColor fill="none" d="M456.5,98.5c-19.41,0-38.24.79-56,2.35a398.43,398.43,0,0,0-45.66,6.42c-6.49,1.35-12.37,2.83-17.49,4.41a91.29,91.29,0,0,0-13.13,5,30.12,30.12,0,0,0-8.12,5.43c-1.75,1.79-2.64,3.59-2.64,5.35s.89,3.56,2.64,5.35a30.12,30.12,0,0,0,8.12,5.43,91.29,91.29,0,0,0,13.13,5c5.12,1.58,11,3.06,17.49,4.41a398.43,398.43,0,0,0,45.66,6.42c17.72,1.56,36.55,2.35,56,2.35s38.24-.79,56-2.35a398.43,398.43,0,0,0,45.66-6.42c6.49-1.35,12.37-2.83,17.49-4.41a91.29,91.29,0,0,0,13.13-5,30.12,30.12,0,0,0,8.12-5.43c1.75-1.79,2.64-3.59,2.64-5.35s-.89-3.56-2.64-5.35a30.12,30.12,0,0,0-8.12-5.43,91.29,91.29,0,0,0-13.13-5c-5.12-1.58-11-3.06-17.49-4.41a398.43,398.43,0,0,0-45.66-6.42c-17.72-1.56-36.55-2.35-56-2.35m0-1c79.53,0,144,13.43,144,30s-64.47,30-144,30-144-13.43-144-30S377,97.5,456.5,97.5Z" transform="translate(-312.5 -97.5)")
