.home {
    @extend %center;
    @extend %page;

    // background: $color-contessa;
    // color: $color-white;
    overflow: hidden;
    text-align: center;



}
.home__wrapper {

}

.home__content {
 
}


.home__hero__title {

}

.home__hero__title__serif {
    @extend %title-lg-serif;

    color: $color-golden;
    text-align: left
}

.home__hero__title__sans {
    @extend %title-lg-sans;

    color: $color-golden;
    text-align: right;
}

.home__mood {

}

.home__mood__label {
    @extend %title-md;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}


.home__grid__wrapper {
    display: flex;
    justify-content: center;
}

.home__grid{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
   
    height: 55rem;
    width: 55rem;
}


.home__item {
    border: 1px solid $color-green;
    display: flex;
    place-items: center;
   
}

.home__grid__link__text {
    text-align: center;
    color: $color-black;
    text-transform: uppercase;
}


.home__item--clouds {
    background: $color-golden;
    animation: change-background-1 12s ease infinite;
}

.home__item--spring {
    background: $color-green;
    animation: change-background-2 12s ease infinite;
}

// .home__item--spring {
//     background: $color-green;
// }

@keyframes change-background-1 {
    0% {
      background: $color-green;
    }
    50% {
      background: $color-white;
    }
    100% {
        background: $color-green;
    }
  }

  @keyframes change-background-2 {
    0% {
      background: $color-golden;
    }
    50% {
      background: $color-white;
    }
    100% {
      background: $color-golden;
    }
  }



.home__footnote {
    position: absolute;
    max-width: 40rem;
    text-align: left;
    left: 10px;
    bottom: 10px;
}

