@import './base/reset';

@import './utils/variables';
@import './utils/functions';
@import './utils/mixins';
@import './utils/vendors';
@import './utils/responsive';

@import './shared/descriptions';
@import './shared/links';
@import './shared/pages';
@import './shared/titles';

@import './base/fonts';

@import './base/base';

@import './components/preloader';
@import './components/navigation';

@import './pages/home/home';

@import './pages/about/about';


